.header-container {
    margin-bottom: 1px;
    border: navy;
    border: solid;
    height: 90px;
}
h1 {
    text-align: center;
}
.cities {
    display:inline-block;
    position: absolute;
}
.forecast {
    display: flex;
    flex-wrap: wrap;
}