.header-container {
    margin-bottom: 1px;
    border: navy;
    border: solid;
    height: 90px;
}
h1 {
    text-align: center;
    align-items: center;
}
.cities {
    display:inline-block;
    position: absolute;
}
.forecast {
    display: flex;
}
h2 {
    padding-top: 20px;
    padding-bottom: 20px;
}
h3 {
    padding-bottom: 20px;
    padding-top: 20px;
}