.header-container {
    margin-bottom: 1px;
    border: navy;
    border: solid;
    height: 90px;
}
h1 {
    text-align: center;
    align-items: center;
}
.cities {
    display:inline-block;
    position: absolute;
}
.forecast {
    display: flex;
}
h2 {
    padding-top: 20px;
    padding-bottom: 20px;
}
h3 {
    padding-bottom: 20px;
    padding-top: 20px;
}
.severe {
    border-radius: 10px;
    padding: 5%;
    background-color: red;
    color: white;
} 
.moderate {
    border-radius: 10px;
    padding: 5%;
    background-color: orange;
    color: white;
}
.favorable {
    border-radius: 10px;
    padding: 5%;
    background-color: green;
    color: white;
}